___
# Ciência dos Dados - PROJETO 1

## Lucas Leal Vale
___

## Educação X Trabalho infantil

___
## Introdução

Neste projeto foi analisado como a taxa de trabalho infantil se comportou entre os anos de 2011-2015, com o auxilio de suas respectivas PNADs. Com a finalidade de indicar a segregação social, a falta de compromisso do nosso governo para com as nossas crianças e adificuldade ao acesso de uma educação basica digna.
Para tanto foram analisados os seguintes aspectos:
Em respeito às faixas de renda analisadas, procurei dividi-las próximas ao valor do salário mínimo atual per capita, ou seja, salários de até mil reais por pessoa na moradia.
Com essa pesquisa pretendo responder a pergunta:Como se comportou a taxa de criancas e adolescentes fora da escola devido ao trabalho infantil entre 2011-2015.

___
## Filtros da base de dados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Lucas\Downloads\Insper

In [3]:
#Se usar o arquivo descompactado
#pd.read_csv('PES2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
dados=pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [4]:
# Renomeando as variáveis
df=pd.DataFrame({'Teve algum trabalho no período de referência de 365 dias':dados.V0701,'Frequenta escola ou creche':dados.V0602})#,'Trabalho Rural':dados.V0702,'Trabalho em construcacao':dados.V0703,"trabalhu essa semana":dados.V0704})

# Filtrando o DataFrame
df=df.dropna()
list(df)

['Frequenta escola ou creche',
 'Teve algum trabalho no período de referência de 365 dias']

In [ ]:
#Salvando o DataFrame
df.to_csv('variaveis1.csv')
#df15.to_csv('variaveis2.csv')

In [19]:

df.describe()

,Frequenta escola ou creche,Teve algum trabalho no período de referência de 365 dias
count,25368.000000,25368.000000
mean,2.062126,2.994560
std,0.346982,0.104167
min,2.000000,1.000000
25%,2.000000,3.000000
50%,2.000000,3.000000
75%,2.000000,3.000000
max,4.000000,3.000000

In [25]:
dados.V0701 = dados.V0701.astype('category')

dados.V0602= dados.V0602.astype('category')



dados.V0701.cat.categories = (['Sim', 'Não'])
dados.V0602.cat.categories = (['Sim', 'Não'])
df.describe()

,Frequenta escola ou creche,Teve algum trabalho no período de referência de 365 dias
count,25368.000000,25368.000000
mean,2.062126,2.994560
std,0.346982,0.104167
min,2.000000,1.000000
25%,2.000000,3.000000
50%,2.000000,3.000000
75%,2.000000,3.000000
max,4.000000,3.000000

In [17]:
#Frequenta escola ou creche V0602
#Curso que frequenta V6003
#Anteriormente frequentou escola ou creche V0606
#Curso mais elevado que frequentou anteriormente V6007
#Concluiu este curso que frequentou anteriormente V0611

# Das criancasd
#Teve algum trabalho no período de referência de 365 dias V0701

#Exerceu tarefas em cultivo, pesca ou criação de animais, V0702
#destinados à própria alimentação das pessoas moradoras no domicílio, no período de referência de 365 dias V0702

#Exerceu tarefas em construção de prédio, cômodo, poço ou outras obras de construção,
#destinadas ao próprio uso das pessoas moradoras no domicílio, no período de referência de 365 dias V0703

#Trabalhou na semana de referência V0704
#Esteve afastado temporariamente do trabalho remunerado que tinha na semana de referência V0705

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!